:root{
  --button:hsl(163, 95%, 43%);
  --footer:hsl(243, 87%, 12%);
  --main1:hsl(243, 87%, 12%);
  --main2:hsl(242, 76%, 70%);/*hsl(243, 86%, 85%)*/

}
body{
  margin: 0;
  font-family: 'Open Sans' ;
}
h1, h2{
  font-family: 'Raleway';
  text-transform: capitalize;
}
h2{
  text-align: center;
}
h3{
  font-family: 'Raleway';
}
a{
  text-decoration: none;
  transition: .3s;
}
figure{
  margin: 0;
}
main a{
  color: white;
}
.container{
  margin: 0 10%;
}
.button{
  background-color: var(--button);
  font-weight: 700;
  border: none;
  border-radius: .2em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: .3s;
  color: white;
  font-size: 1em;
  cursor: pointer;
  box-sizing: border-box;
  }
.button:hover{
  color: var(--button);
  border: 2px solid var(--button);
  background: transparent;
}
.button:active{
  transform: scale(.9);
}
main{
  background: linear-gradient(to right, var(--main1),var(--main2) );
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
}
.user .sign-up.button{
  padding: 1em;
  width: 50%;
  text-align: center;
}
.hero{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .text{
  display: grid;
  width: 40vw;
}
.get-hero{
  padding: .8em 5em;
  font-size: 1.2em;
  width: 16em;
  border: 2px solid var(--button);
}
main .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100vw;
  border-color: transparent transparent transparent #ffffff;
}
.caract{
  height: 80vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
}
.caract .content{
  display: grid;
  grid-template-columns: 40% 1fr;
}
.content figure{
  width: 80%;
}
.content figure img{
  width: 100%;
}
.content .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20%;
  font-size: .9em;
}
.get{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.get .content{
  justify-content: center;
  text-align: center;
  width: 60%;
}
.get .content form{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 3em;
  box-sizing: border-box;
}
.get .content form input{
  width: 100%;
  border-radius: .2em;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  padding: 1em;
}
footer{
  background: var(--footer);
  height: 60vh;
  padding-bottom: 5em;
}
footer .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 100px 0;
  border-color: transparent #ffffff transparent transparent;
}
footer .container{
  color: white;
  display: flex;
  padding-top: 5em;
}
footer a{
  font-size: .9em;
  color: white;
}
footer .contact{
  width: 15em;
}
footer .contact figure{
  width: 100%;
  padding-bottom: 2em 0;
}
footer .contact figure img{
  width: 70%;
  position: relative;
  right: -1em;
}
footer .contact .data{
  margin: 1em 0;
}
footer .contact .line{
  margin: 1em 0;
  display: flex;
  align-items: center;
}
footer .icon{
  padding: .5em;
  margin: 0 .5em;
  background-repeat: no-repeat;
  background-size: 100%;
}
.icon-phone{
  background-image: url("../images/icon-phone.svg");
}
.icon-mail{
  background-image: url("../images/icon-email.svg");
}
footer nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
  border-left: 2px solid white;
  border-right: 2px solid white;
  justify-items:center;
  padding: 0 2em;
}
footer .list strong{
}
footer .list ul{
  margin: 1.5em 0;
  padding: 0;
}
footer .list li{
  list-style: none;
  margin: .6em 0;
  transition: .2s;
  will-change: transform;
}
.list li:hover{
  transform: translate(.5em);
}
footer .form{
  font-size: .9em;
  width: 30%;
  padding-left: 5em;
}
footer form{
  width: 100%;
}
footer form input{
  width: 100%;
  border: none;
  border-radius: .2em;
  padding: .5em;
  margin-top: 1em;
  box-sizing: border-box;
}
footer .form form .button{
  width: 60%;
  float: right;
  margin-top: 1em;
}
@media screen and (max-width:1000px){
  footer nav {
    grid-gap: 2em;
  }
  footer .form{
    padding-left: 2em;
  }
}
@media screen and (max-width:900px){
  header{
    margin-bottom: 6em;
  }
  .hero{
    flex-direction: column-reverse;
  }
  .get-hero{
    width:50%;
  }
  .caract{
    height: auto;
  }
  .caract .content{
    display: block;
  }
  .content figure{
    margin: 0 auto;
  }
  .caract .content .grid{
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width:767px){
  h2{
    font-size: 2em;
  }
  header{
    height: 3em;
  }
  header figure{
    height: 100%;
  }
  header figure img{
    width: 100%;
  }
  .user{
    width: 50%;
    font-size: .8em;
  }
  .user .sign-up.button{
    padding: .5em;
  }
  .container{
    margin: 0 1em;
  }
  .hero{
    padding-bottom: 5em;
  }
  .hero .text{
    width: 95%;
    text-align: center;
  }
  .get-hero{
    margin: 2em 0;
  }
  .hero img{
    width: 60%;
  }
  main .triangle{
    border-width: 3em 0 0 100vw;
  }
  .get .content{
    width: 95%;
  }
  .get .content form{
    display: block;
  }
  .get .content form input{
    width: 100%;
    box-sizing:border-box;
    margin: 1em 0;
  }
  footer{
    height: auto;
  }
  footer .triangle{
    border-width: 0 100vw 3em 0;
  }
  footer .container{
    display: grid;
    grid-template-areas: "contact" "form" "nav";
    grid-gap: 3em;
  }
  footer .contact{
    grid-area: contact;
  }
  footer nav{
    padding: 0;
    grid-area: nav;
    grid-template-columns: 1fr;
    border: none;
    justify-items:start;
  }
  footer .form{
    padding: 0;
    grid-area: form;
    width: auto;
    text-align: center;
  }
}
