:root{
  --button:hsl(163, 95%, 43%);
  --footer:hsl(243, 87%, 12%);
  --main1:hsl(243, 87%, 12%);
  --main2:hsl(242, 76%, 70%);/*hsl(243, 86%, 85%)*/

}
body{
  margin: 0;
  font-family: 'Open Sans' ;
}
h1, h2{
  font-family: 'Raleway';
  text-transform: capitalize;
}
h2{
  text-align: center;
}
h3{
  font-family: 'Raleway';
}
a{
  text-decoration: none;
}
main a{
  color: white;
}
.container{
  margin: 0 10%;
}
.button{
  background-color: var(--button);
  font-weight: 700;
  border: none;
  border-radius: .2em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: .3s;
  color: white;
  }
.button:hover{
  transform: scale(1.1);
}
.button:active{
  transform: scale(.9);
}
main{
  background: linear-gradient(to right, var(--main1),var(--main2) );
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
}
.user .sign-up.button{
  padding: 1em;
  width: 50%;
  text-align: center;
}
.hero{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .text{
  display: block;
  width: 40vw;
}
.hero .text h1{
  margin: 1em 0;
}
.get-hero{
  padding: 1em 6em;
  margin: 2em 0;
}
main .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 0 0 100vw;
  border-color: transparent transparent transparent #ffffff;
}
.caract{
  height: 80vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
}
.caract .content{
  display: grid;
  grid-template-columns: 40% 1fr;
}
.content figure{
  width: 80%;
}
.content figure img{
  width: 100%;
}
.content .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20%;
  font-size: .9em;
}
.get{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.get .content{
  justify-content: center;
  text-align: center;
  width: 60%;
}
.get .content form{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 3em;
  box-sizing: border-box;
}
.get .content form input{
  width: 100%;
  border-radius: .2em;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  padding: 1em;
}
footer{
  background: var(--footer);
  height: 60vh;
  padding-bottom: 5em;
}
footer .triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 200px 0;
  border-color: transparent #ffffff transparent transparent;
}
footer .container{
  color: white;
  display: flex;
  padding-top: 2em;
}
footer a{
  font-size: .9em;
  color: white;
}
footer .contact{
  width: 15em;
}
footer nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4em;
  border-left: 2px solid white;
  border-right: 2px solid white;
  justify-items:center;
  padding: 0 2em;
}
footer .list ul{
  padding: 0;
}
footer .list li{
  list-style: none;
}
footer .form{
  width: 30%;
  padding-left: 5em;
}
footer form{
  width: 100%;
}
footer form input{
  width: 100%;
  border-radius: .2em;
  padding: .5em;
  box-sizing: border-box;
}
footer .form form .button{
  width: 60%;
  float: right;
  margin-top: 1em;
}
